UseTab: Never
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Always
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: All
IndentCaseLabels: true
AlignTrailingComments: false
